{% extends "layout/main.html.twig" %}
{% set active_page = 'index' %}
{% block body %}
    <div class="row">
        {{ dashboardwidget('member', qtdmembers) }}
        {{ dashboardwidget('game', qtdgames) }}
        {{ dashboardwidget('session', qtdsessions) }}
    </div>
    <hr />
    <div class="row">
        {{ useravatar('Jon', 'A') }}
    </div>
{% endblock %}