{% extends "layout/main.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% set active_page = 'members_list' %}
{% block body %}
<div class="page-header">
    <h1>Novo membro</h1>
</div>
{{ form(form) }}
{% endblock %}